<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Deepvue</title>
<link href="../css/deepvue.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1>Deepvue</h1>
		</div>
		<div id="top-nav">
		</div>
	</div><!-- end of #header -->


	<div id="navigation">
	</div><!-- end of #navigation -->
	<div id="main">
	</div><!-- end of #main -->


	<div id="footer">
	</div><!-- end of #footer -->
</div><!-- end of #wrapper -->

</body>
</html>
